

.nafta{
    background-color: green;
    color: white;
    text-align: center;
}

.footer{
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

#nafiso{
    background-color: green;
    color: white;
    text-align: center;
}

body{
    background-color: lightblue;
}